<div class="container"> 

  <h1>Your Groups</h1>
  <ul>
  <% @memberships.each do |membership|%>
    <li><%= link_to membership.group.name, group_path(membership.group.id) %></li>
  <% end %>
  </uL>
  <br/>
  <button class="button" id="show-modal" type="button">New Group</button>
  <div class="form-modal minimized" id='form-modal'>
  <%= form_with model: @group, :class=>"group-form" do |form|%>
    <%= form.label :name%>
    <%= form.text_field :name%><br/>
    <%= form.submit :class=>"button button-primary"%><button class="button" id="hide-modal" type="button">Back</button>
  <% end %>
  </div>

<h3>Pending Memberships</h3>
<ul>
  <% if @pending_memberships%>
    <% @pending_memberships.each do |m|%>
      <li><%= m.group.name%> --invited by <%= m.group.creator.email%> <%= link_to "Approve", user_membership_approve_path(m),method: :put%></li>
    <% end %>
  <% else %>
    <p>You don't have any pending memberships</p>
  <% end %>
</ul>










</div>