<div class="container">
  <h1><%= @group.name%></h1>
  <p>Created by <%= @group.creator.email %></p>
  <%= link_to "Back", groups_path, :class=>"button"%>

  <h3>Members</h3>
  <ul class="member list">
  <% @memberships.each do |m| %>
    <li><%= m.member.email %></li>
  <% end %>
  </ul>
  <button class="button" id="show-modal" type="button">Add Member</button>
  <div class="form-modal minimized" id='form-modal'>
    <%= form_with model:@membership, :class => "group-form" do |form|%>
    <h3>Add member</h3>
      <%= form.label :member%>
      <%= form.select(:member, options_for_select(@users),include_blank:true)%>
      <%= form.hidden_field :group_id, :value => @group.id  %>
      <button class="button" id="hide-modal" type="button">Back</button>
      <%= form.submit  "Add Member", :class => "button button-primary"%>
    <% end %>
  </div>
</div>
