<section class="container">
  <h1><%= @group.name%></h1>
  <% if @current_membership.admin%>
    <%= link_to "Delete This Group", group_path(@group), method: :delete%>
  <% else %>
    <%= link_to "Leave Group", user_membership_path(@current_membership), method: :delete%>
  <% end %>
  <p>
    Members: <%= @memberships.map{|m| m.member.email}.join(",")%>
  </p>
  <%= link_to "Back", groups_path, :class=>"button"%>
  <% if @current_membership.admin%>
    <button class="button" id="show-user-modal" type="button">Add Member</button>
  <% end %>
  <h3>Characters</h3>

  <div class="characters">
    <% @characters.each do |character|%>
      <%= render partial: "characters/characters %>
    <% end %>

  </div>

  <button class="button" id="show-character-modal" type="button">Add Character</button>
  
  <div class='form-modal minimized' id="character-form-modal">
    <%= form_with model:@character_membership, :class=> "group-form" do |form| %>
      <h3>Add Character</h3>
      <%= form.hidden_field :group_id, :value => @group.id  %>
      <%= form.select "character", options_for_select(@user_characters),include_blank: true%>
      <br/>
      <%= form.submit "Add Character", :class => "button button-primary"%>
      <button class="button" id="hide-character-modal" type="button">Back</button>
    <%end%>
  </div>



  <div class="form-modal minimized" id='user-form-modal'>
    <%= form_with model:@membership, :class => "group-form" do |form|%>
    <h3>Add member</h3>
      <%= form.label :member%>
      <%= form.select(:member, options_for_select(@users),include_blank:true)%>
      <%= form.hidden_field :group_id, :value => @group.id  %>
      <br/>
      <%= form.submit  "Add Member", :class => "button button-primary"%>
      <button class="button" id="hide-user-modal" type="button">Back</button>
    <% end %>
  </div>
</section>
