<%= form_for(@character, html: {multipart: true}) do |f| %>
  <% unless @character.new_record? %>
    <div class="tooltip" data-tooltip= "Don't want others seeing your mouse?">
    <%= f.label :private, "Private?", :class => "privacy-box"%>
    <%= f.check_box :private %>
    </div>
  <% end %>
  <%= f.label :name%>
  <%= f.text_field :name%>
  <%= f.label :age %>
  <%= f.number_field :age%>
  <p>
    <% if @character.image.attached? %>
        <%= image_tag @character.character_image %><br/>
    <% end %>
    <%= f.label :image, "Attach a New Image" %><br />
    <%= f.file_field :image %>
  </p>
  <% 
    cities = []
    City.find_each do |city|
      c = [city.name,city.id]
      cities << c
    end 

    ranks = []
    Rank.find_each do |rank|
    r = [rank.name,rank.id]
    ranks << r
    end

    parent_professions = [
      ["Apiarist","Apiarist"],
      ["Archivist","Archivist"],
      ["Armorer","Armorer"],
      ["Baker","Baker"],
      ["Boatcrafter","Boatcrafter"],
      ["Brewer","Brewer"],
      ["Carpenter","Carpenter"],
      ["Cartographer","Cartographer"],
      ["Glazier","Glazier"],
      ["Harvester","Harvester"],
      ["Insectrist","Insectrist"],
      ["Miller","Miller"],
      ["Potter","Potter"],
      ["Smith","Smith"],
      ["Stonemason","Stonemason"],
      ["Weaver","Weaver"]     
    ]

    artisan_professions = [
      ["Apiarist","Apiarist"],
      ["Archivist","Archivist"],
      ["Armorer","Armorer"],
      ["Baker","Baker"],
      ["Brewer","Brewer"],
      ["Carpenter","Carpenter"],
      ["Cartographer","Cartographer"],
      ["Glazier","Glazier"],
      ["Harvester","Harvester"],
      ["Insectrist","Insectrist"],
      ["Miller","Miller"],
      ["Potter","Potter"],
      ["Smith","Smith"],
      ["Stonemason","Stonemason"],
      ["Weaver","Weaver"] 
    ]

    mentor_professions = [
      ["Fighter","Fighter"],
      ["Healer","Healer"],
      ["Hunter","Hunter"],
      ["Instructor","Instructor"],
      ["Pathfinder","Pathfinder"],
      ["Scout","Scout"],
      ["Survivalist","Survivalist"],
      ["Weather Watcher","Weather Watcher"],
    ]

  %>
  <%= f.label :city, "Home"%>
  <%= select_tag(:city, options_for_select(cities, @character.city ? @character.city.id : 1))%>
  <%= f.label :fur_color%>
  <%= f.text_field :fur_color%>
  <%= f.label :rank%>
  <%= select_tag(:rank, options_for_select(ranks,@character.rank ? @character.rank.id : 1))%>
  <%= f.label :cloak_color%>
  <%= f.text_field :cloak_color%>
  <%= f.label :parents%>
  <%= f.text_field :parents%>
  <%= f.label :parent_profession%>
  <%= select_tag(:parent_profession, options_for_select(parent_professions,@character.parent_profession)) %>
  <%= f.label :senior_artisan%>
  <%= f.text_field :senior_artisan%>
  <%= f.label :artisan_profession%>
  <%= select_tag(:artisan_profession, options_for_select(artisan_professions,@character.artisan_profession)) %>
  <%= f.label :mentor%>
  <%= f.text_field :mentor%>
  <%= f.label :mentor_profession%>
  <%= select_tag(:mentor_profession, options_for_select(mentor_professions,@character.mentor_profession)) %>
  <%= f.label :friend%>
  <%= f.text_field :friend%>
  <%= f.label :enemy%>
  <%= f.text_field :enemy%>
  <%= f.label :belief%>
  <%= f.text_field :belief%>
  <%= f.label :goal%>
  <%= f.text_field :goal%>
  <%= f.label :instinct%>
  <%= f.text_field :instinct%>
  <% unless @character.new_record? %>
    <%= f.label :nature%>
    <%= f.number_field :nature%>
    <%= f.label :will%>
    <%= f.number_field :will%>
    <%= f.label :health%>
    <%= f.number_field :health%>
    <%= f.label :resources%>
    <%= f.number_field :resources%>
    <%= f.label :circles%>
    <%= f.number_field :circles%>
    <% end %>
  <br/>
  <%= f.submit "Submit", :class => 'button-primary' %>
<% end %>