<section class="hero-section">
  <div class="container hero ">
    <h1 class="hero-title">It matters not what you fight but what you fight for.</h1>
    
    <%= link_to "Create a Guard", new_character_path, class: "button button-primary"%>
  </div>
</section>

<section class="characters-section container">
  <h3>Your Characters</h3>
<% if @user %>
  <div class="characters">  
    <% @user_characters.each do |character|%>
        <div class="character">
          <%= link_to character_path(character) do%>
                <div class="character-thumb">
                <%= image_tag character.thumbnail if character.image.attached? %>
                </div>
                <div class="character-text">
                <h3> <%= character.name %> </h3>
                <% if character.belief.length > 0 %>
                <p>
                "<%= 
                  if character.belief.length > 37 
                    character.belief[0..35]+"..."
                  else
                    character.belief
                  end
                %>"
                </p>
              <% end %>
            </div>
          <%end %>    
        </div>
    <% end %>
  </div>
<% end %>


<h3>Other Characters</h3>
<div class="characters">
  <% @other_characters.each do |character|%>
        <div class="character">
      <%= link_to character_path(character) do%>
        <%= image_tag(character.thumbnail) if character.image.attached? %>
    <div class="character-text">
      <h3> <%= character.name %> </h3>
      <% if character.belief.length > 0 %>
      <p>
      "<%= 
        if character.belief.length > 37 
          character.belief[0..35]+"..."
        else
          character.belief
        end
      %>"
      </p>
      <% end %>
      </div>
      <%end %>
      
    </div>
  <% end %>
</div>

</section>
