
<section class="hero container">
    <%= image_tag "mouse-guard-transparent.png", :class => "hero-image"%>
    <h1 class="hero-title">It matters not what you fight but <span>what you fight for</span>.</h1>
    <p class="hero-text">
      Use this site to create new characters and track their growth as you play David Peterson and Luke Crane's Mouse Guard RPG. This is 100% under construction. 
      If you're interested in copying or contributing to this code source please <%= link_to "take a look here","https://github.com/ShrikeFound/mouse-sheet" %>.
    </p>
      <%= link_to "Create a Guard", new_character_path, class: "button button-primary hero-cta"%>
    </div>

</section>


<section class="characters-section container">
  <h3>Your Characters</h3>
<% if @user %>
  <div class="characters">  
    <% @user_characters.each do |character|%>
        <div class="character">
          <%= link_to character_path(character) do%>
                <div class="character-thumb">
                <%= image_tag character.thumbnail if character.image.attached? %>
                </div>
                <div class="character-text">
                <h3> <%= character.name %> </h3>
                <% if character.belief.length > 0 %>
                <p>
                "<%= 
                  if character.belief.length > 77 
                    character.belief[0..75]+"..."
                  else
                    character.belief
                  end
                %>"
                </p>
              <% end %>
            </div>
          <%end %>    
        </div>
    <% end %>
  </div>
<% else %>
<p>
  You may sign up or sign in using "test@mail.com" and the password "password" to preview some character sheets.
</p>
<% end %>


<h3>Other Characters</h3>
<div class="characters">
  <% @other_characters.each do |character|%>
        <div class="character">
      <%= link_to character_path(character) do%>
        <%= image_tag(character.thumbnail) if character.image.attached? %>
    <div class="character-text">
      <h3> <%= character.name %> </h3>
      <% if character.belief.length > 0 %>
      <p>
      "<%= 
        if character.belief.length > 37 
          character.belief[0..35]+"..."
        else
          character.belief
        end
      %>"
      </p>
      <% end %>
      </div>
      <%end %>
      
    </div>
  <% end %>
</div>

</section>
