<div class="container">
<h1><%= @character.name %></h1>
<%= link_to "edit", edit_character_path(@character),class: "button button-primary"%>
<%= link_to "back", characters_path(), class: "button"%>
<%= link_to "delete", character_path(@character), method: :delete, class: "button"%>
<p>Age: <%= @character.age %></p>
<p>Home: <%= @character.city.name %></p>
<p>For Color: <%= @character.fur_color %></p>
<p>Guard Rank: <%= @character.rank.name %></p>
<p>Cloak Color: <%= @character.cloak_color %></p>
<p>Parents: <%= @character.parents %></p>
<p>Senior Artisan: <%= @character.senior_artisan %></p>
<p>Mentor: <%= @character.mentor %></p>
<p>Friend: <%= @character.friend %></p>
<p>Enemy: <%= @character.enemy %></p>
<p>Belief: <%= @character.belief %></p>
<p>Goal: <%= @character.goal %></p>
<p>Instinct: <%= @character.instinct %></p>
<p>Nature: <%= @character.nature %></p>
<p>Will: <%= @character.will %></p>
<p>Health: <%= @character.health %></p>
<p>Resources: <%= @character.resources %></p>
<p>Circles: <%= @character.circles %></p>
<h4>Items:</h4>
<%= link_to "New Item", new_item_path(character: @character)%>
<% @character.items.each do |item|%>
  <p class='item'><strong><%= item.name%></strong> <% unless item.description == '' %> <%= item.description%><% end%><span><%= link_to "delete" ,item_path(item),method: :delete,class: "hover-link"%></span></p>
<% end %>
<h4>Skills:</h4>
<%= link_to "New Skill", new_advancement_path(character: @character)%>
<% @character.advancements.each do |advancement|%>
  <p class='skill'><%= advancement.skill.name %><span><%= link_to "delete" ,skill_path(advancement.skill,:character_id => advancement.character.id),method: :delete,class: "hover-link"%></span></p>
  <p class="skill-passes">Passes: <%= advancement.passes%></p>
  <p class="skill-passes">Fails: <%= advancement.fails%></p>
  <p class="skill-passes">Level: <%= advancement.level%></p>
<% end %>

</div>