<div class="container">
<h1><%= @character.name %></h1>
<%= link_to "edit", edit_character_path(@character),class: "button button-primary"%>
<%= link_to "back", characters_path(), class: "button"%>
<%= link_to "delete", character_path(@character), method: :delete, class: "button"%>
<p>Age: <%= @character.age %></p>
<p>Home: <%= @character.city.name %></p>
<p>Fur Color: <%= @character.fur_color %></p>
<p>Guard Rank: <%= @character.rank.name %></p>
<p>Cloak Color: <%= @character.cloak_color %></p>
<p>Parents: <%= @character.parents %></p>
<p>Senior Artisan: <%= @character.senior_artisan %></p>
<p>Mentor: <%= @character.mentor %></p>
<p>Friend: <%= @character.friend %></p>
<p>Enemy: <%= @character.enemy %></p>
<p>Belief: <%= @character.belief %></p>
<p>Goal: <%= @character.goal %></p>
<p>Instinct: <%= @character.instinct %></p>
<p>Nature: <%= @character.nature %></p>
<p>Will: <%= @character.will %></p>
<p>Health: <%= @character.health %></p>
<p>Resources: <%= @character.resources %></p>
<p>Circles: <%= @character.circles %></p>
<h4>Gear:</h4>
<%= link_to "New Item", new_item_path(character: @character)%>
<% @character.items.each do |item|%>
  <p class='item'><strong><%= item.name%></strong> <% unless item.description == '' %> <%= item.description%><% end%><span><%= link_to "delete" ,item_path(item),method: :delete,class: "hover-link"%></span></p>
<% end %>
<h4>Skills:</h4>
<%= link_to "New Skill", new_advancement_path(character: @character)%>
<% @character.advancements.each do |advancement|%>
  <div class='skill'>
    <span><%= advancement.skill.name %> <%= advancement.level%></span>
    <%= link_to "#{advancement.passes} passes", advancement_pass_path(advancement),method: :put, class: "button"%>
    <%= link_to "#{advancement.fails} fails", "#", class: "button"%>
    <%= link_to "delete" ,advancement_path(advancement),method: :delete,class: "hover-link"%>
  </div>
<% end %>
<h4>Wises:</h4>
<%= link_to "New Wise", new_wisdom_path(character: @character)%>
<% @character.wisdoms.each do |wisdom|%>
  <p class='wise'><%= wisdom.wise.name %><span><%= link_to "delete" ,wisdom_path(wisdom),method: :delete,class: "hover-link"%></span></p>
<% end %>
<h4>Traits:</h4>
<%= link_to "New Trait", new_trait_advancement_path(character: @character)%>
<% @character.trait_advancements.each do |advancement|%>
  <div class='trait'>
    <span><%= advancement.trait.name %> <%= advancement.level%></span>
    <%= link_to " + ", trait_advancement_increment_path(advancement), method: :put, class: "button button-increment" %>
    <%= link_to " - ", trait_advancement_decrement_path(advancement), method: :put, class: "button button-increment" %>
    <%= link_to "delete" ,trait_advancement_path(advancement),method: :delete,class: "hover-link"%>
  </div>
  
<% end %>




</div>