<div class="container grid character-sheet">

<div class="header">
<h1><%= @character.name %></h1>
<p><%= image_tag @character.character_image if @character.image.attached? %></p>
<%= link_to "back", characters_path(), class: "button"%>
<% if current_user and @character.user_id == current_user.id %>
  <%= link_to "edit", edit_character_path(@character),class: "button button-primary"%>
  <%= link_to "delete", character_path(@character), method: :delete, class: "button"%>
<% end %>
<p>
  <%= link_to image_tag("icons/solid/plus-sm.svg"), character_gain_fate_path(@character), method: :put, class: "button button-increment" %>
  <strong>Fate:</strong> <%= @character.fate%>
  <%= link_to image_tag("icons/solid/minus-sm.svg"), character_lose_fate_path(@character), method: :put, class: "button button-increment" %>
</P>
<p>
  <%= link_to image_tag("icons/solid/plus-sm.svg"), character_gain_persona_path(@character), method: :put, class: "button button-increment" %>
  <strong>Persona:</strong> <%= @character.persona%>
  <%= link_to image_tag("icons/solid/minus-sm.svg"), character_lose_persona_path(@character), method: :put, class: "button button-increment" %>
</P>
</div>

<div class="aspects">
<h4>Aspects</h4>
<ul class="aspects-list">
  <li><strong>Age:</strong> <%= @character.age %></li>
  <li><strong>Home:</strong> <%= @character.city.name %></li>
  <li><strong>Fur Color:</strong> <%= @character.fur_color %></li>
  <li><strong>Guard Rank:</strong> <%= @character.rank.name %></li>
  <li><strong>Cloak Color:</strong> <%= @character.cloak_color %></li>
</ul>
</div>

<div class="relationships">
<h4>Relationships</h4>
<ul class="relationships-list">
  <li><strong>Parents:</strong> <%= @character.parents %>(<%= @character.parent_profession%>)</li>
  <li><strong>Senior Artisan:</strong> <%= @character.senior_artisan %>(<%= @character.artisan_profession%>)</li>
  <li><strong>Mentor:</strong> <%= @character.mentor %>(<%= @character.mentor_profession%>)</li>
  <li><strong>Friend:</strong> <%= @character.friend %></li>
  <li><strong>Enemy: </strong><%= @character.enemy %></li>
</ul>
</div>

<div class="worldview">
<h4>Worldview</h4>
<ul class="worldview-list">
<li><strong>Belief:</strong> <%= @character.belief %></li>
<li><strong>Goal: </strong><%= @character.goal %></li>
<li><strong>Instinct:</strong> <%= @character.instinct %></li>
</ul>
</div>

<div class="gear">
<h4>Gear</h4>
<ul class="gear-list">
  <% @character.items.each do |item|%>
    <li class='item'><strong><%= item.name%></strong> <% unless item.description == '' %> <%= item.description%><% end%><% if current_user and current_user.id == @character.user_id %><span><%= link_to image_tag("icons/solid/trash.svg") ,item_path(item),method: :delete,class: "hover-link"%></span><%end%></li>
  <% end %>
  <% if current_user and current_user.id == @character.user_id %>
  <li><%= link_to "New Item", new_item_path(character: @character)%></li>
  <% end %>
</ul>
</div>


<div class="traits">
<h4>Traits</h4>
<ul class="traits-list">
<% @character.trait_advancements.each do |advancement|%>
  <li>
  <div class='trait'>
    <span><%= advancement.trait.name.titleize %> <%= advancement.level%></span>
    <% if current_user and current_user.id == @character.user_id %>
    <%= link_to image_tag("icons/solid/plus-sm.svg"), trait_advancement_increment_path(advancement), method: :put, class: "button button-increment" %>
    <%= link_to image_tag("icons/solid/minus-sm.svg"), trait_advancement_decrement_path(advancement), method: :put, class: "button button-increment" %>
    <%= link_to image_tag("icons/solid/trash.svg") ,trait_advancement_path(advancement),method: :delete,class: "hover-link"%>
    <% end %>
    </div>
  </li>
<% end %>
<% if current_user and current_user.id == @character.user_id %>
  <li><%= link_to "New Trait", new_trait_advancement_path(character: @character)%></li>
<% end %>
</ul>
</div>

<div class="attributes">
<h4>Attributes</h4>
<ul class="attributes-list">
<li>Nature: <%= @character.nature %></li>
<li>Will: <%= @character.will %></li>
<li>Health: <%= @character.health %></li>
<li>Resources: <%= @character.resources %></li>
<li>Circles: <%= @character.circles %></li>
</ul>
</div>

<div class="skills">
<h4>Skills</h4>
<ul class= "skills-list">
<% @character.advancements.each do |advancement|%>
  <li>
  <div class='skill'>
    <span><%= advancement.skill.name.titleize %> <%= advancement.level%> (<%= advancement.passes %> passes /<%= advancement.fails%> fails)</span>
    <% if current_user and current_user.id == @character.user_id %>
      <%= link_to image_tag("icons/solid/check.svg"), advancement_pass_path(advancement),method: :put, class: "button button-increment"%>
      <%= link_to image_tag("icons/solid/x.svg"), advancement_fail_path(advancement),method: :put, class: "button button-increment"%>
      <%= link_to image_tag("icons/solid/trash.svg") ,advancement_path(advancement),method: :delete,class: "hover-link"%>
    <% end %>
  </div>
  </li>
<% end %>
<% if current_user and current_user.id == @character.user_id %>
  <li><%= link_to "New Skill", new_advancement_path(character: @character)%></li>
<% end %>
</ul>
</div> 

<div class="wises">
<h4>Wises</h4>
<ul class="wises-list">
<% @character.wisdoms.each do |wisdom|%>
  <li class='wise'><%= wisdom.wise.name.titleize %><% if current_user and current_user.id == @character.user_id %><%= link_to image_tag("icons/solid/trash.svg") ,wisdom_path(wisdom),method: :delete,class: "hover-link"%><%end%></li>
<% end %>
<% if current_user and current_user.id == @character.user_id %>
  <li><%= link_to "New Wise", new_wisdom_path(character: @character)%></li>
<% end %>
</ul>
</div>




</div>