<div class="container center-text">
<h1>Add a Skill</h1>
<%= form_with model: @advancement do |form|%>
  <%= label_tag :name, "Skill Name"%>
  <%= form.text_field :name, :list => 'skills'%>
  <datalist id= 'skills'>
  <% @skills.each do |skill|%>
  <option><%= skill.name%></option>
  <% end %>
  </datalist>
  <%= form.hidden_field :character_id, :value => @character.id  %>
  <%= form.submit "submit", class: "button button-primary"%>
<% end %>
<%= link_to "back", character_path(@character), class: "button"%>
</div>