<div class="container center-text">
<h1>Add a Wise</h1>
<%= form_with model: @wisdom do |form|%>
  <%= label_tag :name, "Wise Name"%>
  <%= form.text_field :name, :list => 'wises'%>
  <datalist id= 'wises'>
  <% @wises.each do |wise|%>
  <option><%= wise.name%></option>
  <% end %>
  </datalist>
  <%= form.hidden_field :character_id, :value => @character.id  %>
  <%= form.submit "submit", class: "button button-primary"%>
<% end %>
<%= link_to "back", character_path(@character), class: "button"%>
</div>