
<section class="hero">
  <div class="hero-body container">
    <div class="hero-container">
      <h1 class="hero-title">Evil Prevails if Good Mice do Nothing.</h1>
      <p class="hero-text">
        Use this site to create new characters and track their growth as you play David Peterson and Luke Crane's Mouse Guard RPG. This is 100% under construction. 
        If you're interested in copying or contributing to this code source please <%= link_to "take a look here","https://github.com/ShrikeFound/mouse-sheet" %>.
      </p>
        <%= link_to "Create a Guard", new_character_path, class: "button button-primary hero-cta"%>
    </div>
  </div>
</section>
<section class="container">
  <div class="intro-text container">
    <h2 class="intro-title">An editable, shareable, character sheet</h2>
    <p class="paragraph">
      Use this tool to create a character for the Mouse Guard RPG and track your inventory,
      traits, skills and other progress as you play with your friends. You can make your character public and viewable by everyone,
      or form a group or characters that can only be seen by your friends.
    </p>
  </div>
  <div class="flex row">
    <div class="col col-2">

      <h3 class="col-header">Create & Publish your Mouse</h3>
      <p >
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi optio et qui perferendis similique sed aspernatur fugiat debitis excepturi voluptatem quibusdam, atque amet, a ad nihil corrupti nulla error facilis.
      </p>
      <%= link_to "Create your Mouse", new_character_path, :class => "button"%>
    </div>

    <div class="col col-2">
      <%= image_tag "08.png", :class=>"col-image"%>
    </div>
  </div>

  <div class="flex row row-reverse">

    <div class="col col-2">

      <h3 class="col-header">Form your Guard Patrol</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Error facere molestias quis at blanditiis dolorum possimus aliquam saepe,
        reprehenderit quaerat. Quia temporibus nulla numquam maxime illo modi tempora quae voluptates!
      </p>
      <%= link_to "Create your Group", groups_path, :class => "button"%>
    </div>

    <div class="col col-2">
      <%= image_tag "07.png", :class=>"col-image"%>
    </div>
  </div>

</section>