<!DOCTYPE html>
<html>
  <head>
    <title>Mouse Sheet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />  
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Quicksand&display=swap" rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <header class="container flex">
      <%= link_to "Mouse Sheet", root_path, :class => "logo"%>
      <nav class='nav'>
      <% if user_signed_in? %>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
      <% else %>
        <%= link_to('Login', new_user_session_path) %>
      <% end %>
        <%= link_to('Sign Up', new_user_session_path) %>
      </nav>
    
    </header>
    <div class="container">
      <%if flash.notice%>
        <p class="flash notice"><%= flash.notice%></p>
      <% end %>
      <%if flash.alert%>
        <p class="flash alert"><%= flash.alert%></p>
      <% end %>
    </div>
    <%= yield %>
    <%= javascript_pack_tag 'custom' %>
  </body>
</html>
